body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
button{
    background-color: orange;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    color: white;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}