body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
button{
    background-color: orange;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    color: white;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-color: #FA725B;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.right-padding{
    padding-right: 150px;
}

.experience-item{
    box-shadow: 10px 5px 50px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}

.experience-item h1{
    font-size: 40px;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.flexible-container .first-part{
    border-left: 7px solid;
    border-image: linear-gradient(#FE9E79, #FF6447);
    border-image-slice: 1;
}

.flexible-container .second-part{
    border-left: 7px solid;
    border-image: linear-gradient(#0207FF, cyan);
    border-image-slice: 1;
}